* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  font-family: Montserrat regular;
}

html {
  scroll-behavior: smooth;
}

.head {
  background: #223A66;
  height: 6vh;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  color: white;
}
.info p {
  font-weight: 700;
}

.nav {
  display: flex;
  background: white;
  height: 12vh;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.nav ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-right: 200px;
}
.nav ul li {
  list-style: none;
}
.nav ul a {
  text-decoration: none;
  color: #223A66;
}
.nav ul a:hover {
  color: #E13855;
}

.log {
  width: 100%;
  padding-left: 100px;
}
.log img {
  width: 30%;
}

.home {
  background: url(images/bg/slider-bg-1.jpg);
  width: 100%;
  height: 100vh;
  position: relative;
}

.textBox {
  justify-content: center;
  align-items: center;
  position: absolute;
  line-height: 50px;
  padding-top: 200px;
  padding-left: 100px;
  color: #223A66;
}
.textBox h2 {
  font-size: 16px;
}
.textBox h1 {
  font-size: 45px;
}
.textBox button {
  background: #E13855;
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  color: white;
}
.textBox button:hover {
  background: #223A66;
}

.services {
  position: relative;
  height: 30vh;
}
.services .container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: -100px;
}
.services .box1,
.services .box2,
.services .box3 {
  background: white;
  width: 20%;
  height: 40vh;
  justify-content: center;
  padding-top: 55px;
  color: #223A66;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
}
.services p {
  padding-top: 10px;
}
.services button {
  background: #E13855;
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}
.services button:hover {
  background: #E23988;
}

.images {
  margin-top: 80px;
  display: flex;
  width: 100%;
  gap: 10px;
  padding-left: 200px;
}

.first {
  flex-wrap: wrap;
}

.img1 {
  width: 100%;
}
.img1 img {
  width: 100%;
}

.img2 {
  width: 100%;
  flex-direction: column;
}
.img2 img {
  width: 100%;
}

.one {
  width: 100%;
  padding-top: 50px;
}
.one img {
  width: 40%;
}

.text {
  color: #223A66;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-left: 800px;
  padding-top: 200px;
}
.text button {
  background: #E13855;
  padding: 14px 40px;
  border: none;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}
.text h2 {
  font-size: 35px;
}
.text p {
  margin-top: 15px;
}

.box {
  background: #223A66;
  width: 80%;
  height: 30vh;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-top: 75px;
  color: white;
}
.box .headings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 200px;
}
.box h2 {
  font-size: 50px;
}
.box .ptag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 180px;
}

.award {
  margin-top: 1200px;
  background: #F4F9FC;
  height: 80vh;
}
.award h2 {
  text-align: center;
  padding-top: 50px;
  font-size: 35px;
  color: #223A66;
}

.wrapper {
  padding-top: 100px;
  justify-content: center;
  text-align: center;
}
.wrapper p {
  padding-top: 40px;
}

.cards1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cards1 .card1,
.cards1 .card2,
.cards1 .card3 {
  background: white;
  width: auto;
  height: 20vh;
  padding: 12px 12px;
}
.cards1 .card1 h3,
.cards1 .card2 h3,
.cards1 .card3 h3 {
  color: #2c2f35;
}
.cards1 .card1 p,
.cards1 .card2 p,
.cards1 .card3 p {
  color: #223A66;
}

.cards2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  border-radius: 20px;
}
.cards2 .card4,
.cards2 .card5,
.cards2 .card6 {
  background: white;
  width: auto;
  height: 20vh;
  padding: 12px 12px;
}
.cards2 .card4 h3,
.cards2 .card5 h3,
.cards2 .card6 h3 {
  color: #2c2f35;
}
.cards2 .card4 p,
.cards2 .card5 p,
.cards2 .card6 p {
  color: #223A66;
}

.book {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.img {
  width: 50;
}
.img img {
  width: 80%;
  position: relative;
}

.boxInfo {
  background: #223A66;
  position: absolute;
  width: 18%;
  height: 12vh;
  justify-content: center;
  text-align: center;
  margin-top: -130px;
  margin-left: 200px;
}
.boxInfo h4 {
  font-size: 30px;
  color: white;
  padding-top: 20px;
}

.appointment {
  padding-top: 120px;
  line-height: 30px;
  color: #223A66;
}
.appointment h2 {
  font-size: 30px;
}
.appointment button {
  background: #223A66;
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  margin-top: 40px;
}
.appointment button:hover {
  background: #E13855;
}

.departments {
  padding-top: 50px;
  display: flex;
}
.departments .dep {
  position: relative;
}
.departments .dep input {
  width: 50%;
  margin-bottom: 10px;
  padding: 15px 0;
  border: none;
  background-color: #F4F9FC;
  padding-left: 10px;
  border-radius: 2px;
}
.departments .dep textarea {
  width: 50%;
  margin-bottom: 10px;
  padding: 15px 0;
  border: none;
  background-color: #F4F9FC;
  padding-left: 10px;
  border-radius: 2px;
}
.departments .doctors {
  position: absolute;
  margin-left: 410px;
}
.departments .doctors input {
  width: 50%;
  margin-bottom: 10px;
  padding: 15px 0;
  border: none;
  background-color: #F4F9FC;
  padding-left: 10px;
  border-radius: 2px;
}
.departments .doctors textarea {
  width: 50%;
  margin-bottom: 10px;
  padding: 15px 0;
  border: none;
  background-color: #F4F9FC;
  padding-left: 10px;
  border-radius: 2px;
}

.served {
  background: #F4F9FC;
  height: 100vh;
  margin-top: 50px;
}
.served h2 {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  color: #223A66;
}
.served h6 {
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
  color: #223A66;
}

.qoutes {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  gap: 15px;
}
.qoutes .qoute1,
.qoutes .qoute2 {
  background: white;
  width: 40%;
  height: 30vh;
  justify-content: center;
  padding-top: 40px;
  line-height: 25px;
  border-radius: 20px;
  padding-left: 20px;
}
.qoutes .qoute1 p,
.qoutes .qoute2 p {
  color: #223A66;
}
.qoutes .qoute1 h5,
.qoutes .qoute2 h5 {
  color: #223A66;
}

.partners {
  margin-top: 50px;
  height: 70vh;
}
.partners h2 {
  font-size: 40px;
  text-align: center;
  color: #223A66;
}
.partners p {
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
  color: #223A66;
}

.logos {
  display: flex;
  padding-top: 130px;
  justify-content: center;
  position: relative;
}

.footer {
  height: auto;
  background: #F4F9FC;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
}
.logo img {
  width: 60%;
}

.touch {
  display: flex;
  justify-content: center;
  padding-left: 60px;
  position: absolute;
  gap: 80px;
  color: #223A66;
  line-height: 20px;
  padding-top: 50px;
  border-bottom: 2px solid white;
}

.depart,
.sup {
  padding-top: 30px;
}
.depart h3,
.sup h3 {
  border-bottom: 3px solid #E13855;
  width: 20%;
  top: 2px;
}
.depart p,
.sup p {
  margin-top: 10px;
}

.getintouch {
  padding-top: 30px;
}
.getintouch h3 {
  border-bottom: 3px solid #E13853;
  width: 48%;
}
.getintouch p {
  margin-top: 15px;
}

.last {
  padding-top: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 400px;
  color: #223A66;
}
.last span {
  color: #2c2f35;
}

.signup form {
  position: relative;
}
.signup form input {
  padding: 16px 200px 16px 10px;
  border-radius: 20px;
  position: relative;
}
.signup form ::-moz-placeholder {
  padding-right: 10px;
}
.signup form ::placeholder {
  padding-right: 10px;
}
.signup form .btn {
  position: absolute;
  padding: 16px 30px;
  background: #E13855;
  border-radius: 20px;
  position: absolute;
  border: none;
  color: white;
  right: 1.5px;
  top: 1px;
}
.signup form .btn:hover {
  background: #223A66;
}

@media (max-width: 991px) {
  label {
    display: none;
  }
  .slide {
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-350px);
    left: 10px;
  }
  h1 {
    font-weight: 800;
    text-align: center;
    pointer-events: none;
  }
  ul li {
    list-style: none;
  }
  ul li a {
    color: #011a41;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: none;
    transition: 0.2s ease-out;
  }
  ul li:hover a {
    color: #fff;
    background-color: #1D7E9D;
  }
  input {
    display: none;
    visibility: hidden;
  }
  .toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 30px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .toggle .common {
    position: absolute;
    height: 2px;
    width: 2px;
    background-color: #1D7E9D;
    border-radius: 50px;
    transition: 0.3s ease;
  }
  .toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(50%, -50%);
  }
  .toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
  }
  .toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(50%, -50%);
  }
  input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
  }
  input:checked ~ .toggle .button_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
  }
  input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
  }
  input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  .head {
    background: #223A66;
    height: 5vh;
  }
  .info {
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    color: white;
  }
  .info p {
    font-weight: 700;
  }
  .nav {
    display: flex;
    background: white;
    height: 8vh;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .nav ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-left: 200px;
  }
  .nav ul li {
    list-style: none;
  }
  .nav ul a {
    text-decoration: none;
    color: #223A66;
    font-size: 20px;
  }
  .nav ul a:hover {
    color: #E13855;
  }
  .log {
    width: 100%;
    padding-left: 100px;
    display: none;
  }
  .log img {
    width: 30%;
  }
  .home {
    background: url(images/bg/slider-bg-1.jpg);
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .textBox {
    justify-content: center;
    align-items: center;
    position: absolute;
    line-height: 50px;
    padding-top: 100px;
    padding-left: 100px;
    color: #223A66;
  }
  .textBox h2 {
    font-size: 16px;
  }
  .textBox h1 {
    font-size: 45px;
  }
  .textBox button {
    background: #E13855;
    padding: 12px 18px;
    border: none;
    border-radius: 20px;
    color: white;
  }
  .textBox button:hover {
    background: #223A66;
  }
  .services {
    position: relative;
    height: 40vh;
  }
  .services .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -100px;
  }
  .services .box1,
  .services .box2,
  .services .box3 {
    background: white;
    width: 30%;
    height: 20vh;
    justify-content: center;
    padding-top: 35px;
    color: #223A66;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
  }
  .services p {
    padding-top: 10px;
  }
  .services button {
    background: #E13855;
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
  }
  .services button:hover {
    background: #E23988;
  }
  .images {
    margin-top: 80px;
    display: flex;
    width: 90%;
    gap: 10px;
    padding-left: 60px;
  }
  .first {
    flex-wrap: wrap;
  }
  .img1 {
    width: 70%;
  }
  .img1 img {
    width: 100%;
  }
  .img2 {
    width: 70%;
    flex-direction: column;
  }
  .img2 img {
    width: 100%;
  }
  .one {
    width: 100%;
    padding-top: 50px;
    display: none;
  }
  .one img {
    width: 55%;
  }
  .text {
    color: #223A66;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 420px;
    padding-top: 200px;
  }
  .text button {
    background: #E13855;
    padding: 14px 40px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
  }
  .text h2 {
    font-size: 30px;
  }
  .text p {
    margin-top: 20px;
  }
  .box {
    background: #223A66;
    width: 80%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 75px;
    color: white;
    display: none;
  }
  .box .headings {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 200px;
  }
  .box h2 {
    font-size: 50px;
  }
  .box .ptag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 180px;
  }
  .award {
    margin-top: 560px;
    background: #F4F9FC;
    height: 60vh;
  }
  .award h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
    color: #223A66;
  }
  .wrapper {
    padding-top: 80px;
    justify-content: center;
    text-align: center;
  }
  .wrapper p {
    padding-top: 40px;
  }
  .cards1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: 0 14px;
  }
  .cards1 .card1,
  .cards1 .card2,
  .cards1 .card3 {
    background: white;
    width: auto;
    height: 16vh;
    padding: 12px 12px;
  }
  .cards1 .card1 h3,
  .cards1 .card2 h3,
  .cards1 .card3 h3 {
    color: #2c2f35;
  }
  .cards1 .card1 p,
  .cards1 .card2 p,
  .cards1 .card3 p {
    color: #223A66;
  }
  .cards2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: 0 14px;
    padding-top: 40px;
    border-radius: 20px;
  }
  .cards2 .card4,
  .cards2 .card5,
  .cards2 .card6 {
    background: white;
    width: auto;
    height: 16vh;
    padding: 12px 12px;
  }
  .cards2 .card4 h3,
  .cards2 .card5 h3,
  .cards2 .card6 h3 {
    color: #2c2f35;
  }
  .cards2 .card4 p,
  .cards2 .card5 p,
  .cards2 .card6 p {
    color: #223A66;
  }
  .book {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .img {
    width: 50;
  }
  .img img {
    width: 80%;
    position: relative;
    padding-left: 50px;
  }
  .boxInfo {
    background: #223A66;
    position: absolute;
    width: 25%;
    height: 6vh;
    justify-content: center;
    text-align: center;
    margin-top: -130px;
    margin-left: 200px;
  }
  .boxInfo h4 {
    font-size: 26px;
    color: white;
    padding-top: 20px;
  }
  .appointment {
    padding-top: 120px;
    line-height: 30px;
    color: #223A66;
  }
  .appointment h2 {
    font-size: 30px;
  }
  .appointment button {
    background: #223A66;
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 40px;
  }
  .appointment button:hover {
    background: #E13855;
  }
  .departments {
    padding-top: 50px;
    display: flex;
    display: none;
  }
  .departments .dep {
    position: relative;
  }
  .departments .dep input {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .departments .dep textarea {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .departments .doctors {
    position: absolute;
    margin-left: 410px;
  }
  .departments .doctors input {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .departments .doctors textarea {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .served {
    background: #F4F9FC;
    height: 60vh;
    margin-top: 50px;
  }
  .served h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #223A66;
  }
  .served h6 {
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #223A66;
  }
  .qoutes {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 22px;
  }
  .qoutes .qoute1,
  .qoutes .qoute2 {
    background: white;
    width: 40%;
    height: 26vh;
    justify-content: center;
    padding-top: 60px;
    line-height: 25px;
    border-radius: 20px;
    padding-left: 20px;
  }
  .qoutes .qoute1 p,
  .qoutes .qoute2 p {
    color: #223A66;
  }
  .qoutes .qoute1 h5,
  .qoutes .qoute2 h5 {
    color: #223A66;
  }
  .partners {
    margin-top: 50px;
    height: 30vh;
  }
  .partners h2 {
    font-size: 40px;
    text-align: center;
    color: #223A66;
  }
  .partners p {
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #223A66;
  }
  .logos {
    display: flex;
    padding-top: 110px;
    justify-content: center;
    position: relative;
  }
  .logos .logo6 {
    display: none;
  }
  .footer {
    height: auto;
    background: #F4F9FC;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 100%;
  }
  .logo img {
    width: 60%;
  }
  .touch {
    display: flex;
    justify-content: center;
    padding-left: 60px;
    position: absolute;
    gap: 80px;
    color: #223A66;
    line-height: 20px;
    padding-top: 50px;
    border-bottom: 2px solid white;
  }
  .depart,
  .sup {
    padding-top: 30px;
  }
  .depart h3,
  .sup h3 {
    border-bottom: 3px solid #E13855;
    width: 20%;
    top: 2px;
  }
  .depart p,
  .sup p {
    margin-top: 10px;
  }
  .getintouch {
    padding-top: 30px;
  }
  .getintouch h3 {
    border-bottom: 3px solid #E13853;
    width: 48%;
  }
  .getintouch p {
    margin-top: 15px;
  }
  .last {
    padding-top: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 400px;
    color: #223A66;
    display: none;
  }
  .last span {
    color: #2c2f35;
  }
  .signup form {
    position: relative;
  }
  .signup form input {
    padding: 16px 200px 16px 10px;
    border-radius: 20px;
    position: relative;
  }
  .signup form ::-moz-placeholder {
    padding-right: 10px;
  }
  .signup form ::placeholder {
    padding-right: 10px;
  }
  .signup form .btn {
    position: absolute;
    padding: 16px 30px;
    background: #E13855;
    border-radius: 20px;
    position: absolute;
    border: none;
    color: white;
    right: 1.5px;
    top: 1px;
  }
  .signup form .btn:hover {
    background: #223A66;
  }
}
@media (max-width: 768px) {
  .head {
    background: #223A66;
    height: 5vh;
  }
  .info {
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    color: white;
  }
  .info p {
    font-weight: 700;
  }
  .nav {
    display: flex;
    background: white;
    height: 8vh;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .nav ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .nav ul li {
    list-style: none;
  }
  .nav ul a {
    text-decoration: none;
    color: #223A66;
    font-size: 20px;
  }
  .nav ul a:hover {
    color: #E13855;
  }
  .log {
    width: 100%;
    padding-left: 100px;
    display: none;
  }
  .log img {
    width: 30%;
  }
  .home {
    background: url(images/bg/slider-bg-1.jpg);
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .textBox {
    justify-content: center;
    align-items: center;
    position: absolute;
    line-height: 50px;
    padding-top: 100px;
    padding-left: 60px;
    color: #223A66;
  }
  .textBox h2 {
    font-size: 16px;
  }
  .textBox h1 {
    font-size: 45px;
  }
  .textBox button {
    background: #E13855;
    padding: 12px 18px;
    border: none;
    border-radius: 20px;
    color: white;
  }
  .textBox button:hover {
    background: #223A66;
  }
  .services {
    position: relative;
    height: 60vh;
  }
  .services .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -40px;
  }
  .services .box1,
  .services .box2,
  .services .box3 {
    background: white;
    width: 40%;
    height: 33vh;
    justify-content: center;
    padding-top: 55px;
    color: #223A66;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
  }
  .services .box3 {
    display: none;
  }
  .services p {
    padding-top: 10px;
  }
  .services button {
    background: #E13855;
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
  }
  .services button:hover {
    background: #E23988;
  }
  .images {
    margin-top: 80px;
    display: flex;
    width: 90%;
    gap: 10px;
    padding-left: 60px;
  }
  .first {
    flex-wrap: wrap;
  }
  .img1 {
    width: 70%;
  }
  .img1 img {
    width: 100%;
  }
  .img2 {
    width: 70%;
    flex-direction: column;
  }
  .img2 img {
    width: 100%;
  }
  .one {
    width: 100%;
    padding-top: 50px;
    display: none;
  }
  .one img {
    width: 55%;
  }
  .text {
    color: #223A66;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 400px;
    padding-top: 200px;
  }
  .text button {
    background: #E13855;
    padding: 14px 40px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
  }
  .text h2 {
    font-size: 30px;
  }
  .text p {
    margin-top: 20px;
  }
  .box {
    background: #223A66;
    width: 80%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 75px;
    color: white;
    display: none;
  }
  .box .headings {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 200px;
  }
  .box h2 {
    font-size: 50px;
  }
  .box .ptag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 180px;
  }
  .award {
    margin-top: 560px;
    background: #F4F9FC;
    height: 60vh;
  }
  .award h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
    color: #223A66;
  }
  .wrapper {
    padding-top: 80px;
    justify-content: center;
    text-align: center;
  }
  .wrapper p {
    padding-top: 20px;
  }
  .cards1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: 0 14px;
  }
  .cards1 .card1,
  .cards1 .card2,
  .cards1 .card3 {
    background: white;
    width: auto;
    height: 16vh;
    padding: 12px 12px;
  }
  .cards1 .card1 h3,
  .cards1 .card2 h3,
  .cards1 .card3 h3 {
    color: #2c2f35;
  }
  .cards1 .card1 p,
  .cards1 .card2 p,
  .cards1 .card3 p {
    color: #223A66;
  }
  .cards2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: 0 14px;
    padding-top: 40px;
    border-radius: 20px;
  }
  .cards2 .card4,
  .cards2 .card5,
  .cards2 .card6 {
    background: white;
    width: auto;
    height: 16vh;
    padding: 12px 12px;
  }
  .cards2 .card4 h3,
  .cards2 .card5 h3,
  .cards2 .card6 h3 {
    color: #2c2f35;
  }
  .cards2 .card4 p,
  .cards2 .card5 p,
  .cards2 .card6 p {
    color: #223A66;
  }
  .book {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .img {
    width: 50;
  }
  .img img {
    width: 80%;
    position: relative;
    padding-left: 50px;
  }
  .boxInfo {
    background: #223A66;
    position: absolute;
    width: 25%;
    height: 6vh;
    justify-content: center;
    text-align: center;
    margin-top: -130px;
    margin-left: 200px;
  }
  .boxInfo h4 {
    font-size: 26px;
    color: white;
    padding-top: 20px;
  }
  .appointment {
    padding-top: 120px;
    line-height: 30px;
    color: #223A66;
  }
  .appointment h2 {
    font-size: 30px;
  }
  .appointment button {
    background: #223A66;
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 40px;
  }
  .appointment button:hover {
    background: #E13855;
  }
  .departments {
    padding-top: 50px;
    display: flex;
    display: none;
  }
  .departments .dep {
    position: relative;
  }
  .departments .dep input {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .departments .dep textarea {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .departments .doctors {
    position: absolute;
    margin-left: 410px;
  }
  .departments .doctors input {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .departments .doctors textarea {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .served {
    background: #F4F9FC;
    height: 60vh;
    margin-top: 50px;
  }
  .served h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #223A66;
  }
  .served h6 {
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #223A66;
  }
  .qoutes {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 4px;
  }
  .qoutes .qoute1,
  .qoutes .qoute2 {
    background: white;
    width: 40%;
    height: 26vh;
    justify-content: center;
    padding-top: 60px;
    line-height: 25px;
    border-radius: 20px;
    padding-left: 20px;
  }
  .qoutes .qoute1 p,
  .qoutes .qoute2 p {
    color: #223A66;
  }
  .qoutes .qoute1 h5,
  .qoutes .qoute2 h5 {
    color: #223A66;
  }
  .partners {
    margin-top: 50px;
    height: 30vh;
  }
  .partners h2 {
    font-size: 40px;
    text-align: center;
    color: #223A66;
  }
  .partners p {
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #223A66;
  }
  .logos {
    display: flex;
    padding-top: 70px;
    justify-content: center;
    position: relative;
  }
  .logos .logo6 {
    display: none;
  }
  .logos .logo5 {
    display: none;
  }
  .footer {
    height: auto;
    background: #F4F9FC;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 100%;
  }
  .logo img {
    width: 60%;
  }
  .touch {
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 30px;
    color: #223A66;
    line-height: 20px;
    padding-top: 30px;
    border-bottom: 2px solid white;
  }
  .depart,
  .sup {
    padding-top: 30px;
  }
  .depart h3,
  .sup h3 {
    border-bottom: 3px solid #E13855;
    width: 20%;
    top: 2px;
    font-size: 6px;
  }
  .depart p,
  .sup p {
    margin-top: 10px;
  }
  .getintouch {
    padding-top: 30px;
  }
  .getintouch h3 {
    border-bottom: 3px solid #E13853;
    width: 48%;
  }
  .getintouch p {
    margin-top: 15px;
  }
  .last {
    padding-top: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 400px;
    color: #223A66;
    display: none;
  }
  .last span {
    color: #2c2f35;
  }
  .signup form {
    position: relative;
  }
  .signup form input {
    padding: 16px 200px 16px 10px;
    border-radius: 20px;
    position: relative;
  }
  .signup form ::-moz-placeholder {
    padding-right: 10px;
  }
  .signup form ::placeholder {
    padding-right: 10px;
  }
  .signup form .btn {
    position: absolute;
    padding: 16px 30px;
    background: #E13855;
    border-radius: 20px;
    position: absolute;
    border: none;
    color: white;
    right: 1.5px;
    top: 1px;
  }
  .signup form .btn:hover {
    background: #223A66;
  }
}
@media (max-width: 600px) {
  label {
    display: block;
  }
  .slide {
    height: 100%;
    left: 10px;
    right: 10px;
    top: 10px;
    z-index: 5;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-105%);
  }
  h1 {
    font-weight: 800;
    text-align: center;
    pointer-events: none;
  }
  ul li {
    list-style: none;
  }
  ul li a {
    color: #011a41;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: none;
    transition: 0.2s ease-out;
  }
  ul li:hover a {
    color: #fff;
    background-color: #1D7E9D;
  }
  input {
    display: none;
    visibility: hidden;
  }
  .toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 30px;
    z-index: 9;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .toggle .common {
    position: absolute;
    z-index: 9;
    height: 2px;
    width: 15px;
    background-color: #1D7E9D;
    border-radius: 50px;
    transition: 0.3s ease;
  }
  .toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
  }
  input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
  }
  input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
  }
  input:checked ~ .slide {
    transform: translateX(0%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  .head {
    background: #223A66;
    height: 5vh;
    display: none;
  }
  .info {
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    color: white;
  }
  .info p {
    font-weight: 700;
  }
  .nav {
    display: flex;
    background: white;
    height: 8vh;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .nav ul {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .nav ul li {
    list-style: none;
  }
  .nav ul a {
    text-decoration: none;
    color: #223A66;
    font-size: 20px;
  }
  .nav ul a:hover {
    color: #E13855;
  }
  .log {
    width: 100%;
    display: none;
  }
  .log img {
    width: 30%;
  }
  .home {
    background: url(images/bg/slider-bg-1.jpg);
    width: 100%;
    height: 60vh;
    position: relative;
  }
  .textBox {
    justify-content: center;
    text-align: center;
    position: absolute;
    line-height: 55px;
    color: #223A66;
  }
  .textBox h2 {
    font-size: 16px;
  }
  .textBox h1 {
    font-size: 45px;
  }
  .textBox button {
    background: #E13855;
    padding: 12px 18px;
    border: none;
    border-radius: 20px;
    color: white;
  }
  .textBox button:hover {
    background: #223A66;
  }
  .textBox p {
    display: none;
  }
  .services {
    position: relative;
    height: 60vh;
  }
  .services .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -20px;
    flex-direction: column;
    align-items: center;
  }
  .services .box1,
  .services .box2,
  .services .box3 {
    background: white;
    width: 80%;
    height: 33vh;
    justify-content: center;
    padding-top: 55px;
    color: #223A66;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
  }
  .services .box3 {
    display: none;
  }
  .services p {
    padding-top: 10px;
  }
  .services button {
    background: #E13855;
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
  }
  .services button:hover {
    background: #E23988;
  }
  .images {
    margin-top: 80px;
    display: flex;
    width: 90%;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .first {
    flex-wrap: wrap;
  }
  .img1 {
    width: 70%;
  }
  .img1 img {
    width: 100%;
  }
  .img2 {
    width: 70%;
    flex-direction: column;
  }
  .img2 img {
    width: 100%;
  }
  .one {
    width: 100%;
    padding-top: 50px;
    display: none;
  }
  .one img {
    width: 55%;
  }
  .text {
    color: #223A66;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 400px;
    padding-top: 200px;
    display: none;
  }
  .text button {
    background: #E13855;
    padding: 14px 40px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
  }
  .text h2 {
    font-size: 30px;
  }
  .text p {
    margin-top: 20px;
  }
  .box {
    background: #223A66;
    width: 80%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 75px;
    color: white;
    display: none;
  }
  .box .headings {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 200px;
  }
  .box h2 {
    font-size: 50px;
  }
  .box .ptag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 180px;
  }
  .award {
    margin-top: 560px;
    background: #F4F9FC;
    height: 80vh;
  }
  .award h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color: #223A66;
  }
  .wrapper {
    padding-top: 80px;
    justify-content: center;
    text-align: center;
  }
  .wrapper p {
    padding-top: 20px;
  }
  .cards1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: 0 14px;
    flex-direction: column;
  }
  .cards1 .card1,
  .cards1 .card2,
  .cards1 .card3 {
    background: white;
    width: auto;
    height: 16vh;
    padding: 12px 12px;
  }
  .cards1 .card1 h3,
  .cards1 .card2 h3,
  .cards1 .card3 h3 {
    color: #2c2f35;
  }
  .cards1 .card1 p,
  .cards1 .card2 p,
  .cards1 .card3 p {
    color: #223A66;
  }
  .cards2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: 0 14px;
    padding-top: 40px;
    border-radius: 20px;
    display: none;
  }
  .cards2 .card4,
  .cards2 .card5,
  .cards2 .card6 {
    background: white;
    width: auto;
    height: 16vh;
    padding: 12px 12px;
  }
  .cards2 .card4 h3,
  .cards2 .card5 h3,
  .cards2 .card6 h3 {
    color: #2c2f35;
  }
  .cards2 .card4 p,
  .cards2 .card5 p,
  .cards2 .card6 p {
    color: #223A66;
  }
  .book {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -10px;
  }
  .img {
    width: 50;
    display: none;
  }
  .img img {
    width: 80%;
    position: relative;
    padding-left: 50px;
  }
  .boxInfo {
    background: #223A66;
    position: absolute;
    width: 25%;
    height: 6vh;
    justify-content: center;
    text-align: center;
    margin-top: -130px;
    margin-left: 200px;
  }
  .boxInfo h4 {
    font-size: 26px;
    color: white;
    padding-top: 20px;
  }
  .appointment {
    padding-top: 120px;
    line-height: 30px;
    color: #223A66;
  }
  .appointment h2 {
    font-size: 30px;
  }
  .appointment button {
    background: #223A66;
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 40px;
  }
  .appointment button:hover {
    background: #E13855;
  }
  .departments {
    padding-top: 50px;
    display: flex;
    display: none;
  }
  .departments .dep {
    position: relative;
  }
  .departments .dep input {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .departments .dep textarea {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .departments .doctors {
    position: absolute;
    margin-left: 410px;
  }
  .departments .doctors input {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .departments .doctors textarea {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    border: none;
    background-color: #F4F9FC;
    padding-left: 10px;
    border-radius: 2px;
  }
  .served {
    background: #F4F9FC;
    height: 60vh;
    margin-top: 50px;
  }
  .served h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #223A66;
  }
  .served h6 {
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #223A66;
  }
  .qoutes {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 22px;
    flex-direction: column;
    align-items: center;
  }
  .qoutes .qoute1,
  .qoutes .qoute2 {
    background: white;
    width: 80%;
    height: 26vh;
    justify-content: center;
    padding-top: 28px;
    line-height: 25px;
    border-radius: 20px;
    padding-left: 20px;
  }
  .qoutes .qoute1 p,
  .qoutes .qoute2 p {
    color: #223A66;
  }
  .qoutes .qoute1 h5,
  .qoutes .qoute2 h5 {
    color: #223A66;
  }
  .partners {
    margin-top: 250px;
    height: 80vh;
  }
  .partners h2 {
    font-size: 25px;
    text-align: center;
    color: #223A66;
  }
  .partners p {
    padding-top: 18px;
    text-align: center;
    font-size: 14px;
    color: #223A66;
  }
  .logos {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .logos .logos {
    width: 100%;
  }
  .logos .logos img {
    width: 100%;
  }
  .footer {
    height: 85vh;
    background: #F4F9FC;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 100%;
  }
  .logo img {
    width: 60%;
  }
  .touch {
    display: flex;
    justify-content: center;
    padding-left: 60px;
    position: absolute;
    gap: 40px;
    color: #223A66;
    line-height: 20px;
    padding-top: 30px;
    border-bottom: 2px solid white;
    flex-direction: column;
  }
  .depart,
  .sup {
    padding-top: 30px;
  }
  .depart h3,
  .sup h3 {
    border-bottom: 3px solid #E13855;
    width: 20%;
    top: 2px;
    font-size: 6px;
  }
  .depart p,
  .sup p {
    margin-top: 10px;
  }
  .getintouch {
    padding-top: 30px;
    display: none;
  }
  .getintouch h3 {
    border-bottom: 3px solid #E13853;
    width: 48%;
  }
  .getintouch p {
    margin-top: 15px;
  }
  .last {
    padding-top: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 400px;
    color: #223A66;
    display: none;
  }
  .last span {
    color: #2c2f35;
  }
  .signup form {
    position: relative;
  }
  .signup form input {
    padding: 16px 200px 16px 10px;
    border-radius: 20px;
    position: relative;
  }
  .signup form ::-moz-placeholder {
    padding-right: 10px;
  }
  .signup form ::placeholder {
    padding-right: 10px;
  }
  .signup form .btn {
    position: absolute;
    padding: 16px 30px;
    background: #E13855;
    border-radius: 20px;
    position: absolute;
    border: none;
    color: white;
    right: 1.5px;
    top: 1px;
  }
  .signup form .btn:hover {
    background: #223A66;
  }
}/*# sourceMappingURL=style.css.map */